.picture-overlay-data {
    background-color: transparent;
    background-image: linear-gradient(90deg, #09031D 20%, #2B1A6600 100%);
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    position: absolute;
}

.paddingCenter {
    padding: 4.22rem 0;
}

.separatorColorProduct {
    background-color: var(--bs-dark-blue);
    padding: 8rem 0;
    position: relative;
    width: 8%;
}

.containerDescription {
    color: var(--bs-white);
    margin-left: -60px;
}

.textFont {
    font-weight: bold;
    font-size: 2.63rem;
}

.textColorBlue {
    color: var(--bs-dark-blue);
}

.texttitulo {
    font-size: 61px;
    color: var(--bs-dark-blue);
    font-weight: bold;

}

.textodesc {
    line-height: 3rem;
}

.textodesc2 {
    line-height: 2rem;
}

.texto_2 {
    color: var(--bs-dark-blue);
    font-size: 65px;
    font-weight: bold;
}

.textopie {
    color: var(--bs-dark-blue);
    font-size: 60px;
    font-weight: bold;
}

.textopie2 {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.texto_tittfica {
    color: var(--bs-dark-blue);
    font-size: 2rem;

}


.bajarletras {
    margin-top: 94px;
}


.duela_pinturas {
    height: 30rem;
}




.transformed {
    /* idéntico a rotateZ(45deg); */
    transform: rotate(45deg);
    background-color: blue;
}

.pidecotiza {
    background: var(--bs-dark-blue);



}

.padre {
    position: relative;

}

.transfom {
    padding-bottom: 0;
    height: 1813px;
    background: linear-gradient(11deg, white 5%, var(--bs-light-green) 6%, var(--bs-light-green) 32%, var(--bs-dark-blue) 32%, var(--bs-dark-blue) 36%, white 36%);
    position: absolute;
    top: -120%;
    z-index: -1;

}

.trabajador {
    height: 900px;
    width: 900px;
}

.letraslineas {
    color: white;
    font-size: 35px;
}


.first {
    height: 4729px;
    width: 100%;
    background: linear-gradient(280deg, white 8%, #F3F3F3 9%, #F3F3F3 22%, white 23%);
    z-index: -3;
    position: absolute;


}

.second {
    height: 3627px;
    width: 100%;
    background: linear-gradient(72deg, white 43%, #F3F3F3 44%, #F3F3F3 55%, white 57%);
    z-index: -3;
    position: absolute;
}

.lineas_fondo {
    position: absolute;
}

.cortinasp {
    font-size: 30px;
}

.cortinast {
    font-size: 55px;
}

div {
    border: solid #09031D;
}

.contworker {
    margin-bottom: -92px;
}

.muestrac {
    height: 600px;
    width: 600px;

}

.spintando {
    margin-bottom: -155;
}


.duelas {
    margin-top: -96px
}

.duelasp {
    font-size: 34px;
}

.seccionlineas {
    min-height: 800px;
}