.nuevo_pie {
    height: 500px;
    background: #f004;
}

.columnas {
    display: flex;
    width: 80%;
    max-width: 1200px;
    justify-content: space-between;
}

.colum {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}