.nuevo_pie {
    
    background: #f004;
    display: flex;
    flex-direction: column;
    padding: 18px;
}





.titulo_tarjeta{
    display: flex;
    align-items: center;
    
}

.imagenlogo{
    width: 35rem;
}